<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="commonHeading mt-110 text-uppercase">
             why this is awesome
            </p>
            <hr class="orange m-auto">
            <p class="para mt-3 mb-75 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let obj of awesomeArray">
            <div class="row text-center">
                <div class="col-md-12 about">
                    <i class="far fa-circle"></i>
                    <span [innerHTML]="obj.symbol"></span>
                </div>
                <div class="col-md-12">
                    <p class="heading my-3">{{obj.heading}}</p>
                </div>
                <div class="col-md-12">
                    <p class="para mb-105">{{obj.info}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
