.about .fa-circle{
    color: #ff8b38;
    font-size: 46px;
    position: relative;
}
.about span{
    color: #ff8b38;
    font-size: 20px;
    position: absolute;
    transform: translate(-30px, 8px);
}
