<section class="feature1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">
                        <button class="tab1 mt-75">TAB 1</button>
                        <button class="tab2">TAB 2</button>
                        <button class="tab3 mb-75">TAB 3</button>
                    </div>
                    <div class="col-md-8 offset-md-1">
                        <div class="feature1-info mt-75">
                            <p class="heading text-capitalize">
                                Tabs with soft transitioning effect.
                            </p>
                            <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
                                bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra 
                                justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque 
                                penatibus et magnis dis parturient montes.
                            </p>
                            <p class="para">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            </p>
                            <button class="btn btn-orange text-white">Download</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 offset-md-1 mt-110">
                <img src="../../../../assets/images/feature-1.png" class="img-fluid" alt="feature-1">
            </div>
        </div>
    </div>
</section>
<section class="feature2">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="../../../../assets/images/feature2.png" class="img-fluid mt-75" alt="feature2">
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="feature2-details">
                    <div class="row flex-column">
                        <p class="heading mt-75 text-capitalize">
                            <strong>sub list section</strong>
                        </p>
                        <hr class="orange mt-2 mb-4">
                        <p class="para mb-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-2 pl-0">
                            <i class="far fa-circle"></i>
                            <i class="fas fa-cloud-upload-alt"></i>
                        </div>
                        <div class="col-md-10">
                            <p class="feature2-title mb-0"><strong>Title</strong></p>
                            <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 pl-0">
                            <i class="far fa-circle"></i>
                            <i class="fas fa-cloud-download-alt"></i>
                        </div>
                        <div class="col-md-10">
                            <p class="feature2-title mb-0"><strong>Title</strong></p>
                            <p class="para mb-75">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature3">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-md-5 offset-md-2">
                <img src="../../../../assets/images/feature3.png" class="img-fluid mt-75 mb-75" alt="feature2">
            </div>
            <div class="col-md-5">
                <div class="feature2-details">
                    <div class="row flex-column">
                        <p class="heading mt-115 text-capitalize">
                            <strong>standard picture section</strong>
                        </p>
                        <hr class="orange mt-2 mb-4">
                        <p class="para mb-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes.
                        </p>
                        <p class="para mb-135">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>