<section class="reviews mb-115">
    <div class="container mb-5">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="commonHeading mt-75">WHAT OUR CUSTOMERS ARE SAYING</p>
            <hr class="orange m-auto" />
            <p class="para mt-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <div class="comment p-3 mt-5">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Doloribus accusamus expedita repellat similique odio aspernatur
                    ex, architecto eaque quo suscipit.
                  </p>
                </div>
                <div class="row mt-4">
                  <div class="col-md-4">
                      <img src="../../../../assets/images/avatar.png" class="avatarImg" alt="review">
                  </div>
                  <div class="col-md-8 pl-0">
                      <p class="heading mb-0 mt-2 mQuery">
                          Jeremy H
                      </p>
                      <p class="para mQuery">
                          Manager
                      </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="comment p-3 mt-5">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Doloribus accusamus expedita repellat similique odio aspernatur
                      ex, architecto eaque quo suscipit.
                    </p>
                  </div>
                  <div class="row mt-4">
                    <div class="col-md-4">
                        <img src="../../../../assets/images/avatar.png" class="avatarImg" alt="review">
                    </div>
                    <div class="col-md-8 pl-0">
                        <p class="heading mb-0 mt-2 mQuery">
                          John S
                        </p>
                        <p class="para mQuery">
                            Freelancer
                        </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="comment p-3 mt-5">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Doloribus accusamus expedita repellat similique odio aspernatur
                      ex, architecto eaque quo suscipit.
                    </p>
                  </div>
                  <div class="row mt-4">
                    <div class="col-md-4">
                        <img src="../../../../assets/images/avatar.png" class="avatarImg" alt="review">
                    </div>
                    <div class="col-md-8 pl-0">
                        <p class="heading mb-0 mt-2 mQuery">
                            Susan W.
                        </p>
                        <p class="para mQuery">
                            Photographer
                        </p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
</section>
<section class="custom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="customDetails mt-75 mb-75 text-center">
                    <p class="commonHeading mt-75 text-white">
                        STYLISH AXURE DESIGN
                    </p>
                    <hr class="orange m-auto">
                    <p class="para mt-4 text-white">
                        Use the sections you need, remove the ones you don't.  Create gorgeous prototypes faster than ever!
                    </p>
                    <button class="btn btn-download">Download</button>
                </div>
            </div>
        </div>
    </div>
</section>